


<h3 class="text-center text-white">Publish an article : </h3>
<div class="container container-dashboard">
  <div class="article-form">
    <%= form_with model: Article.new, multipart: true do |f| %>
      <%= f.text_field :title, class:"form-control" %>
      <%= f.text_area :content, class:"form-control" %>
      <%= f.file_field :article_picture %>
      <%= f.submit "Publish", class:"btn btn-info" %>
    <% end %>
  </div>

    <!-- <a href="#" class="btn btn-sm btn-primary">Create a news</a> -->
    <h3 class="text-center text-white">Extreme reviews : </h3>
    <table>
      <thead>
          <tr>
            <th>Movie reviewed</th>
            <th>User</th>
            <th>Notation</th>
          </tr>
      </thead>
      <tbody>
        <% Notation.extreme_notations.each do |notation|%>
          <tr>
            <td>
              <%= notation.movie.title %>
            </td>
            <td>
              <%= notation.user.username %>
            </td>
            <td>
              <%= link_to 'See notation', user_path(notation.user, anchor: notation.id ) , class: "btn btn-info btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <h3 class="text-center text-white">Articles : </h3>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Title</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% Article.all.each do |article|%>
          <tr>
            <td>
              N° <%= article.id %>
            </td>
            <td>
              <%= article.created_at.strftime("%d/%m/%Y") %>
            </td>
            <td>
              <%= article.title %>
            </td>
            <td>
              <%= link_to "Edit", edit_article_path(article), class:"btn btn-info btn-sm" %>
              <%= link_to "Delete", article_path(article), method: :delete, class:"btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <h3 class="text-center text-white">Movies to review : </h3>
    <table>
      <thead>
          <tr>
              <th>Movie title</th>
              <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <% Movie.all.select{|movie| movie.reviewed_by_admin == false}.each do |movie|%>
            <tr>
              <td class="text-white" >
                <%= link_to movie.title, movie_path(movie), class: "text-white" %>
              </td>
              <td>
                <%= link_to new_movie_notation_path(movie),class: "btn btn-primary" do %>
                  Leave a review
                  <i class="fas fa-sliders-h"></i>
                <% end %>
                <%= link_to "Edit", edit_movie_path(movie), :method => "get", class:"btn btn-warning" %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>

    <h3 class="text-center text-white">Users : </h3>
    <table>
      <thead>
          <tr>
              <th>User id</th>
              <th>Username</th>
              <th>Email</th>
              <th>Rank</th>
              <th>Options</th>
          </tr>
      </thead>
      <tbody>
        <% User.all.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.rank %></td>
            <td>
              <%= link_to "See profile", user_path(user), class:"btn btn-info btn-small" %>
              <%= link_to "Delete", user_path(user), method: :delete, class:"btn btn-danger btn-small" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>



        <!--   
      
      <div class="card-dashboard mb-4">
        <h2>Users list</h2>
        <div class="card-dashboard-line">
          <span>N° X</span>
          <a href="#" class="btn btn-sm btn-warning">Edit</a>
          <a href="#">Username</a>
          <span>contact@email.com</span>
        </div>
      </div>-->
      
    </div>