<div class="container container-news">
  <p class="text-center news display-5">News</p>
  <div class="row">
    <div class="col-12 edit-article my-4">
      <% @articles.each do |article| %>
         <%= button_to article_path(article), class:"article_btn", :method => 'get' do %>
          <div class="row article">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <%= image_tag article.article_picture, class: "img-fluid rounded img_article_index" if article.article_picture.attached? %>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <p class="text-center">Posted on <%= article.created_at.strftime('%m/%d/%Y') %> Written by <%= link_to User.find(article.user_id).username, user_path(article.user_id) %></p>
              <p class="title_center display-7"><%= article.title %></p>
              <p><%= article.shorten_lead %></p>
              <div class="btn-group">
                <%= link_to "Edit", edit_article_path(article), class: "btn btn-warning" if user_signed_in? && current_user.rank == 0 %>
                <%= link_to "Delete", article_path(article), method: :delete, class:"btn btn-danger" if user_signed_in? && current_user.rank == 0 %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
