<div class="container-welcome">
	<div class="card-welcome">
		<h1 class="text-white text-center">Welcome
			<% if user_signed_in? %>
				<%=current_user.username%>&nbsp;!
				<% else %>
			!
			<% end %>
		</h1>
		<%= link_to statics_how_path do%>
			<h2 class="text-primary text-center">How it works&nbsp;?</h2>
		<% end %>
		<p class="text-white">Each cursor indicates according to its position if the film offers a work in the average of the films released in recent years.</p>
		<p class="text-white">We wish to inform the spectator of if a film shows more accentuated work than the average or if, on the contrary, it is behind on a criterion.</p>
		<%= link_to "The Whole Concept", statics_how_path, class:"btn btn-outline-primary w-100" %>
	</div>

	<div class="search-welcome">
		<div>
			<h1 class="text-white">Check a relative notation</h1>
			<%= link_to "How to read it ?", statics_how_path %>

			<%= form_with url: searches_path do |f| %>

				<div class="d-flex">
					<div>
					<div class="form-thing">
					<%= f.check_box :criteria, { multiple: true }, "scenario", false %>
					<%= f.label "Scenario", class:"text-white" %>
					</div>
					<div class="form-thing">
					<%= f.check_box :criteria, { multiple: true }, "image", false %>
					<%= f.label "Image", class:"text-white" %>
					</div>
					<div class="form-thing">
					<%= f.check_box :criteria, { multiple: true }, "editing", false %>
					<%= f.label "Editing", class:"text-white" %>
					</div>
				</div>

					<div>
					<div class="form-thing">
					<%= f.check_box :criteria, { multiple: true }, "sound", false %>
					<%= f.label "Sound and Soundtrack", class:"text-white" %>
					</div>
					<div class="form-thing">
					<%= f.check_box :criteria, { multiple: true }, "makeup", false %>
					<%= f.label "Makeup and hair", class:"text-white" %>
					</div>
					<div class="form-thing">
					<%= f.check_box :criteria, { multiple: true }, "directing", false %>
					<%= f.label "Directing", class:"text-white" %>
					</div>
				</div>

				</div>

				<%= f.submit "Filter Movies", class: "btn btn-primary" %>
			<% end %>
			<%= button_to "Try advanced search", searches_path, class:"btn btn-secondary" %>
		</div>
	</div>
</div>
