<section id="movies" class="pb-5">
  <div class="container">
    <div class="row">
		<% @movies.each do |movies| %>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body" id="poster">
									<%= image_tag movies.image_url, alt: movies.title %>
								</div>
							</div>
						</div>
						<%= link_to movie_path(movies.id) do %>
						<div class="backside">
							<div class="card">
								<h4 class="card-title text-center"><%= movies.title %></h4>
								<div class="card-body text-center" id="returned-card">
									<%= form_for movies do |f| %>
										<%= f.label :some_size, "Scenario" %>
										<%= f.range_field :title, :in => 0..100, :step => 1, :disabled => true %>
										<%= f.label :some_size, "Image" %>
										<%= f.range_field :title, :in => 0..100, :step => 1, :disabled => true %>
										<%= f.label :some_size, "Editing" %>
										<%= f.range_field :title, :in => 0..100, :step => 1, :disabled => true %>
										<%= f.label :some_size, "Sound" %>
										<%= f.range_field :title, :in => 0..100, :step => 1, :disabled => true %>
										<%= f.label :some_size, "Makeup" %>
										<%= f.range_field :title, :in => 0..100, :step => 1, :disabled => true %>
										<%= f.label :some_size, "Directing" %>
										<%= f.range_field :title, :in => 0..100, :step => 1, :disabled => true %>
									<% end %>
                </div>
            	</div>
            </div>
						<% end %>
          </div>
        </div>
      </div>
		<% end %>
    </div>
  </div>
</section>