<div class="container" id="search-bar-index">
	<h1 class="text-center text-white">Check the relative scale notation of a movie</h1>
	<%= link_to "How to read a relative rating ?", statics_how_path %>
  <div id="search-bar-border">
		<%= render "layouts/search_bar" %>
	</div>
</div>


<section id="last-added" class="pb-5">
  <div class="container card-movies-index">
	<h3>Last added</h3>
    <div class="row">
			<%= render 'last_added_movies' %>
    </div>
  </div>
</section>


<section id="last-notation" class="pb-5">
  <div class="container card-movies-index">
	<h3>Last notation</h3>
    <div class="row">
			<%= render 'last_notation_movies' %>
    </div>
  </div>
</section>


<section id="all_movies" class="pb-5">
  <div class="container card-movies-index">
	<h3>All movies</h3>
    <div class="row">
			<%= render 'all_movies' %>
    </div>
  </div>
</section>