<div class="container text-white">
  <div class="row">
    <div class="col-10">

      <div class="row">
        <div class="col-4">
          <%=image_tag @movie.image_url, :class => 'movie-poster' %>
        </div>
        <div class="col-8">
          <p class="display-4"><%= @movie.title %></p>
          <%= @movie.year %> ― Directed by <%= @movie.director %>
          <hr>
          <p class="text-muted"><%= @movie.description %></p>
          <br>
          <% if user_signed_in? %>
            <% unless @movie.already_reviewed(current_user) %>
              <%= link_to new_movie_notation_path(@movie),class: "btn btn-primary" do %>
                Leave a review
                <i class="fas fa-sliders-h"></i>
              <% end %>
            <% else %>
              <%= link_to edit_movie_notation_path(@movie,Notation.find_by(movie:@movie, user:current_user)),class: "btn btn-primary" do %>
                Edit your review
                <i class="fas fa-sliders-h"></i>
              <% end %>
            <% end %>
          
            <%= link_to "Edit", edit_movie_path(@movie), class:"btn btn-warning" if current_user.rank == 0 %>
          <% end %>

        </div>
      </div><br>
      <div class="row">
        <div class="col-6">
          <p class="h4">NotaCine</p><br>
          <% unless Notation.find_by(movie:@movie).nil? %>
            <%= form_for @movie do |f| %>
              <%= f.label :some_size, "Scenario" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.notacine_reviews("scenario"), :disabled => true  %><br>
              <%= f.label :some_size, "Image" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.notacine_reviews("image"), :disabled => true %><br>
              <%= f.label :some_size, "Editing" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.notacine_reviews("editing"), :disabled => true %><br>
              <%= f.label :some_size, "Sound" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.notacine_reviews("sound"), :disabled => true %><br>
              <%= f.label :some_size, "Makeup" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.notacine_reviews("makeup"), :disabled => true %><br>
              <%= f.label :some_size, "Directing" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.notacine_reviews("directing"), :disabled => true %><br>
            <% end %>
          <% else %>
            <p>This movie is not yet reviewed</p>
          <% end %>
        </div>
        <div class="col-6">
          <p class="h4">All watchers</p><br>
          <% unless Notation.find_by(movie:@movie).nil? %>
            <%= form_for @movie do |f| %>
              <%= f.label :some_size, "Scenario" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.all_reviews("scenario"), :disabled => true  %><br>
              <%= f.label :some_size, "Image" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.all_reviews("image"), :disabled => true %><br>
              <%= f.label :some_size, "Editing" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.all_reviews("editing"), :disabled => true %><br>
              <%= f.label :some_size, "Sound" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.all_reviews("sound"), :disabled => true %><br>
              <%= f.label :some_size, "Makeup" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.all_reviews("makeup"), :disabled => true %><br>
              <%= f.label :some_size, "Directing" %>
              <%= f.range_field :title, :in => 0..100, :step => 1, value:@movie.all_reviews("directing"), :disabled => true %><br>
            <% end %>
          <% else %>
            <p>This movie is not yet reviewed</p>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-10">
          <p class="h4">Comments</p>
          <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra tortor lacus, accumsan ornare augue sodales eu. Aliquam ultrices, ex sed egestas accumsan, arcu justo tincidunt lectus, a feugiat velit nulla id nunc. Integer placerat auctor metus, convallis bibendum nisl fermentum vel. Nam vehicula nibh nibh, accumsan porttitor ante luctus eget. Nam ac ex sem. Morbi mollis ultrices massa a molestie. Donec id porttitor justo, vel auctor lacus.</p>
            <p>Integer placerat auctor metus, convallis bibendum nisl fermentum vel. Nam vehicula nibh nibh, accumsan porttitor ante luctus eget. Nam ac ex sem. Morbi mollis ultrices massa a molestie. Donec id porttitor justo, vel auctor lacus. Aenean a quam a est accumsan tincidunt. Donec dignissim sagittis odio fringilla interdum. Maecenas neque ligula, feugiat vel orci ac, dignissim tristique eros. Vestibulum et vehicula quam, in accumsan risus. Aliquam iaculis vitae lectus at hendrerit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
