<div class="container text-white my-4">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <%=image_tag @movie.image_url, :class => 'movie-poster' %>
        </div>
        <div class="col-8">
          <p class="h1"><%= @movie.title %><span class="text-muted"> (<%= @movie.year %>)</span></p>
          <p class="badge badge-secondary badge-pill">category1</p> <p class="badge badge-secondary badge-pill">category2</p>
          <p class="h4 text-muted">Directed by <%= @movie.director %></p>
          <hr>
          <p class="text-muted"><strong>Plot: </strong><%= @movie.description %></p>
          <% if user_signed_in? %>
            <% unless @movie.already_reviewed(current_user) %>
              <%= button_to new_movie_notation_path(@movie), :method => "get",class: "btn btn-primary" do %>
                Leave a review
                <i class="fas fa-sliders-h"></i>
              <% end %>
            <% else %>
              <%= button_to edit_movie_notation_path(@movie,Notation.find_by(movie:@movie, user:current_user)), :method => "get",class: "btn btn-primary" do %>
                Edit your review
                <i class="fas fa-sliders-h"></i>
              <% end %>
            <% end %>
            <%= button_to "Edit", edit_movie_path(@movie), :method => "get", class:"btn btn-warning" if current_user.rank == 0 %>
          <% end %>
        </div>
      </div><br>
      <div class="card bg-dark p-4">
        <div class="row">
          <div class="col-5 text-center">
            <p class="h4"><%= image_tag image_path("notacine-logo-responsive-dark.svg"), class:"brand-img-responsive", alt:"NotaCine" %></p><br>
            <% if @movie.reviewed_by_admin %>
              <%= form_for @movie do |f| %>
                <%= f.label :scenario, "Scenario" %><br>
                <%= f.range_field :scenario, :in => 0..100, :step => 1, value:@movie.notacine_reviews("scenario"), :disabled => true  %><br>
                <%= f.label :image, "Image" %><br>
                <%= f.range_field :image, :in => 0..100, :step => 1, value:@movie.notacine_reviews("image"), :disabled => true %><br>
                <%= f.label :editing, "Editing" %><br>
                <%= f.range_field :editing, :in => 0..100, :step => 1, value:@movie.notacine_reviews("editing"), :disabled => true %><br>
                <%= f.label :sound, "Sound" %><br>
                <%= f.range_field :sound, :in => 0..100, :step => 1, value:@movie.notacine_reviews("sound"), :disabled => true %><br>
                <%= f.label :makeup, "Makeup" %><br>
                <%= f.range_field :makeup, :in => 0..100, :step => 1, value:@movie.notacine_reviews("makeup"), :disabled => true %><br>
                <%= f.label :directing, "Directing" %><br>
                <%= f.range_field :directing, :in => 0..100, :step => 1, value:@movie.notacine_reviews("directing"), :disabled => true %><br>
              <% end %>
            <% else %>
              <p>This movie is not yet reviewed</p>
            <% end %>
          </div>
          <div class="col-2">
            <hr class="vertical-divider">
          </div>
          <div class="col-5 text-center">
            <p class="h4"><i class="fas fa-users"></i></p><br>
            <% unless Notation.find_by(movie:@movie).nil? %>
              <%= form_for @movie do |f| %>
                <%= f.label :scenario, "Scenario" %><br>
                <%= f.range_field :scenario, :in => 0..100, :step => 1, value:@movie.all_reviews("scenario"), :disabled => true  %><br>
                <%= f.label :image, "Image" %><br>
                <%= f.range_field :image, :in => 0..100, :step => 1, value:@movie.all_reviews("image"), :disabled => true %><br>
                <%= f.label :editing, "Editing" %><br>
                <%= f.range_field :editing, :in => 0..100, :step => 1, value:@movie.all_reviews("editing"), :disabled => true %><br>
                <%= f.label :sound, "Sound" %><br>
                <%= f.range_field :sound, :in => 0..100, :step => 1, value:@movie.all_reviews("sound"), :disabled => true %><br>
                <%= f.label :makeup, "Makeup" %><br>
                <%= f.range_field :makeup, :in => 0..100, :step => 1, value:@movie.all_reviews("makeup"), :disabled => true %><br>
                <%= f.label :directing, "Directing" %><br>
                <%= f.range_field :directing, :in => 0..100, :step => 1, value:@movie.all_reviews("directing"), :disabled => true %><br>
              <% end %>
            <% else %>
              <p>This movie is not yet reviewed</p>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-10">
          <p class="h4">Comments</p>
          <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra tortor lacus, accumsan ornare augue sodales eu. Aliquam ultrices, ex sed egestas accumsan, arcu justo tincidunt lectus, a feugiat velit nulla id nunc. Integer placerat auctor metus, convallis bibendum nisl fermentum vel. Nam vehicula nibh nibh, accumsan porttitor ante luctus eget. Nam ac ex sem. Morbi mollis ultrices massa a molestie. Donec id porttitor justo, vel auctor lacus.</p>
            <p>Integer placerat auctor metus, convallis bibendum nisl fermentum vel. Nam vehicula nibh nibh, accumsan porttitor ante luctus eget. Nam ac ex sem. Morbi mollis ultrices massa a molestie. Donec id porttitor justo, vel auctor lacus. Aenean a quam a est accumsan tincidunt. Donec dignissim sagittis odio fringilla interdum. Maecenas neque ligula, feugiat vel orci ac, dignissim tristique eros. Vestibulum et vehicula quam, in accumsan risus. Aliquam iaculis vitae lectus at hendrerit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
