<div class="container text-white">
  <div class="row">
    <div class="col mx-auto profile-container">
      <div class="row">
        <div class="col-2">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, alt: "user avatar", class: "image-shape" %>
          <% end %>
          <%= form_tag user_avatars_path(@user), multipart: true do %>
            <%= file_field_tag :avatar %>
            <%= submit_tag "Update your photo", class:"btn btn-secondary btn-sm" %>
          <% end %>
        </div>
        <div class="col-10 userinfo-section">
          <p class="h2"><strong><%= @user.username %></strong></p>
          <p> <%= button_to "Edit profile", edit_user_registration_path, :method => "get", class: "btn btn-secondary btn-sm" %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-8 mx-auto text-center">
          <p>Movies viewed : X | Movies reviewed : X</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col review-section"><br>
          <p>Last review (date)</p>
          <div class="row">
            <div class="col-4">
              <ul>
                <li>PICTURE</li>
              </ul>
            </div>
            <div class="col-4">
              <p>TITLE</p>
              <p>DESCRIPTION</p>
            </div>
            <div class="col-4">
              <p>RANGES x6</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
