<%= javascript_pack_tag 'users' %>
<div class="container text-white my-4">
  <div class="row">
    <div class="col mx-auto">
      <div class="row">
        <div class="col-5 col-sm-4 col-md-3 col-lg-2">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, alt: "user avatar", class: "image-shape" %>
          <% end %>
          <% if current_user == @user %>
            <%= form_tag user_avatars_path(@user), multipart: true do %>
                <%= file_field_tag :avatar, class: "clickable-pp" %>
                <div class="avatar-effect"></div>
            <% end %>
          <% end %>
        </div>
        <div class="col-7 col-sm-8 col-md-9 col-lg-10">
          <% if @user.rank == 0 || @user.rank == 2 %>
            <p class="display-7"><strong><%= @user.username %></strong> <i class="fas fa-check-circle fa-sm"></i></p>
            <% else %>
            <p class="display-7"><strong><%= @user.username %></strong></p>
          <% end %>
          <% if current_user == @user %>
            <p> <%= button_to "Edit profile", edit_user_registration_path, :method => "get", class: "btn btn-secondary btn-sm" %></p>
          <% end %>
          <% if user_signed_in? && current_user.rank == 0 %>
            <p> <%= button_to "Delete profile", user_path(@user), method: :delete, class: "btn btn-danger btn-sm" %></p>
            <%= form_with model: @user do |f| %>
              <div class="btn-group">
                <%= f.select :rank, [["Admin", 0],["Regular", 1],["Validated", 2]], class: "select-rank" %>
                <%= f.submit "Change rank", class: "btn btn-danger btn-sm" %>
              </div>
            <%  end %>
          <% end %>
        </div>
      </div>
      <div class="row movies-review">
        <div class="col-8 mx-auto text-center">
          <p class="my-4"> Movies reviewed : <%= @notations.count %></p>
        </div>
      </div>
      <div class="row">
        <div class="col"><br>
          <p class="display-7 text-underline">Last reviews:</p>
          <ul class="p-0">
          <% @notations.each do |notation| %>
            <li class="display-8 title-js m-2">
              <%= notation.movie.title %>
            </li>
            <div class="row text-right pt-3 user-rate text-center js-notation">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-4">
                <%=image_tag notation.movie.image_url, :class => 'movie-poster' %>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-4">
                <%= form_with do |f| %>
                  <%= f.label :scenario, "Scenario" %>
                  <%= f.range_field :scenario, :in => 0..100, :step => 1, value:notation.criteria_review("scenario"), :disabled => true  %><br>
                  <%= f.label :image, "Image" %>
                  <%= f.range_field :image, :in => 0..100, :step => 1, value:notation.criteria_review("image"), :disabled => true %><br>
                  <%= f.label :editing, "Editing" %>
                  <%= f.range_field :editing, :in => 0..100, :step => 1, value:notation.criteria_review("editing"), :disabled => true %><br>
                  <%= f.label :sound, "Sound and Soundtrack" %>
                  <%= f.range_field :sound, :in => 0..100, :step => 1, value:notation.criteria_review("sound"), :disabled => true %><br>
                  <%= f.label :makeup, "Costume Makeup and Hairstyling" %>
                  <%= f.range_field :makeup, :in => 0..100, :step => 1, value:notation.criteria_review("makeup"), :disabled => true %><br>
                  <%= f.label :directing, "Directing" %>
                  <%= f.range_field :directing, :in => 0..100, :step => 1, value:notation.criteria_review("directing"), :disabled => true %><br>
                <% end %>
                <% if user_signed_in? && current_user.rank == 0 %>
                 <%= link_to "Delete", movie_notation_path(notation.movie, notation), method: :delete, class:"btn btn-danger btn-sm" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'user_notations' %>
