<div class="container text-white my-4">
  <div class="row">
    <div class="col mx-auto">
      <div class="row">
        <div class="col-2">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, alt: "user avatar", class: "image-shape" %>
          <% end %>
          <% if current_user == @user %>
            <%= form_tag user_avatars_path(@user), multipart: true do %>
              <%= file_field_tag :avatar %>
              <%= submit_tag "Update your photo", class:"btn btn-secondary btn-sm" %>
            <% end %>
          <% end %>

        </div>
        <div class="col-10">
          <p class="h2"><strong><%= @user.username %></strong></p>
          <% if current_user == @user %>
            <p> <%= button_to "Edit profile", edit_user_registration_path, :method => "get", class: "btn btn-secondary btn-sm" %></p>
          <% end %>
        </div>
      </div>
      <div class="row movies-review">
        <div class="col-8 mx-auto text-center">
          <p class="my-4"> Movies reviewed : <%= @notations.count %></p>
        </div>
      </div>
      <div class="row">
        <div class="col"><br>
          <p class="h4" >Last reviews:</p>
          <% @notations.each do |notation| %>
          <div class="row">
            <div class="col-4">
              <%=image_tag notation.movie.image_url, :class => 'movie-poster' %>
            </div>
            <div class="col-4">
              <p><%= notation.movie.title %></p>
              <p><%= notation.movie.description %></p>
            </div>
            <div class="col-4 text-right pt-5">
              <%= form_with do |f| %>
                <%= f.label :scenario, "Scenario" %>
                <%= f.range_field :scenario, :in => 0..100, :step => 1, value:notation.criteria_review("scenario"), :disabled => true  %><br>
                <%= f.label :image, "Image" %>
                <%= f.range_field :image, :in => 0..100, :step => 1, value:notation.criteria_review("image"), :disabled => true %><br>
                <%= f.label :editing, "Editing" %>
                <%= f.range_field :editing, :in => 0..100, :step => 1, value:notation.criteria_review("editing"), :disabled => true %><br>
                <%= f.label :sound, "Sound" %>
                <%= f.range_field :sound, :in => 0..100, :step => 1, value:notation.criteria_review("sound"), :disabled => true %><br>
                <%= f.label :makeup, "Makeup" %>
                <%= f.range_field :makeup, :in => 0..100, :step => 1, value:notation.criteria_review("makeup"), :disabled => true %><br>
                <%= f.label :directing, "Directing" %>
                <%= f.range_field :directing, :in => 0..100, :step => 1, value:notation.criteria_review("directing"), :disabled => true %><br>
              <% end %>
            </div>
          </div><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
