<div class="container">
  <div class="row">
    <div class="card mx-auto card-d" id="forgotpass-card">
      <div class="card-body">
        <p class="card-title display-7"><strong>Password assistance</strong></p>
        <p>Enter the email address associated with your NotaCine account.</p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="actions text-center">
            <%= f.submit "Send me reset password instructions", :class => 'btn btn-primary my-4' %><br/>
            <small><%= render "devise/shared/resend_instructions" %></small>
          </div>
        <% end %>
        <hr>
        <p class="display-8">Has your email changed?</p>
        <p>If you no longer use the email adress associated with your NotaCine account, you may contact <%= link_to "NotaCine's Team", statics_contact_path %> for help restoring access to your account.</p>
      </div>
    </div>
  </div>
</div>
