<div class="container my-auto">
  <div class="container-team p4 mt-4 mb-4">
    <h1>Team NotaCine</h1>
    <hr>
    <ul>
      <li>
        <h2>Day SY</h2>
        <h3>Web developer</h3>
        <%= link_to "https://github.com/Day-101", :target => "_blank" do %>
          <i class="fab fa-github"></i>
        <% end %>
      </li>
      <li>
        <h2>Benjamin ANEZO</h2>
        <h3>Web developer</h3>
        <%= link_to "https://github.com/Nekall", :target => "_blank" do %>
          <i class="fab fa-github"></i>
        <% end %>
        <%= link_to "https://codepen.io/LilNeka", :target => "_blank" do %>
          <i class="fab fa-codepen"></i>
        <% end %>
      </li>
      <li>
        <h2>Matteo SIDDI</h2>
        <h3>Web developer</h3>
        <%= link_to "https://github.com/MatteoTHP", :target => "_blank" do %>
          <i class="fab fa-github"></i>
        <% end %>
      </li>
      <li>
        <h2>Kevin ZUGASTI</h2>
        <h3>Web developer</h3>
        <%= link_to "https://github.com/ZugastiKevin", :target => "_blank" do %>
          <i class="fab fa-github"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>