<section class="team-area pb-100 pt-100" id="team">
  <div class="container">
    <div class="row section-team-title">
      <div class="col-md-6 text-right">
        <h3><span>who we are?</span> creative team</h3>
      </div>
      <div class="col-md-6">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting industry.d </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="team-content">
          <h4>Day Sy <span>web developer</span></h4>
          <ul>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-facebook"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-twitter"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-linkedin"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-google-plus"></i>
            <% end %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-content">
          <h4>Matteo Siddi <span>web developer</span></h4>
          <ul>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-facebook"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-twitter"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-linkedin"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-google-plus"></i>
            <% end %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-content">
          <h4>Benjamin Anezo <span>web developer</span></h4>
          <ul>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-facebook"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-twitter"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-linkedin"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-google-plus"></i>
            <% end %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-content">
          <h4>Kevin Zugasti <span>web developer</span></h4>
          <ul>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-facebook"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-twitter"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-linkedin"></i>
            <% end %></li>
            <li><%= link_to statics_team_path do %>
              <i class="fa fa-google-plus"></i>
            <% end %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>