<div class="container">
  <div class="row">
    <div class="card mx-auto card-d" id="login-card">
      <div class="card-body">
        <h3 class="card-title"><strong>Login</strong></h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :password %><small><%= render "devise/shared/forgotpass" %></small>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end %>
          <hr>
          <div class="actions">
            <%= f.submit "Log in", :class => 'btn btn-primary btn-block'%>
          </div><br />
          <% end %>
          <div class="text-center">
            <hr class="text-muted" id="hr-new">
            <%= render "devise/shared/signup" %>
          </div>
      </div>
    </div>
  </div>
</div>
