<div class="container my-4 text-center">
	<div class="row">
		<div class="col-12">
			<%= form_with url: searches_path do |f| %>
			<%= f.text_field :search, :class => "search-page" %>
			<div>
				<% Genre.all.each do |category| %>
				<%= f.check_box :categories, { multiple: true }, category.id, false %>
				<%= f.label "categories_#{category.id}", category.title, class:"text-white" %>
				<% end %>
			</div>
			<div>
				<%= f.check_box :criteria, { multiple: true }, "scenario", false %>
				<%= f.label :criteria_scenario, "Scenario", class:"text-white" %>
				<%= f.check_box :criteria, { multiple: true }, "image", false %>
				<%= f.label :criteria_image, "Image", class:"text-white" %>
				<%= f.check_box :criteria, { multiple: true }, "editing", false %>
				<%= f.label :criteria_editing, "Editing", class:"text-white" %>
				<%= f.check_box :criteria, { multiple: true }, "sound", false %>
				<%= f.label :criteria_sound, "Sound and Soundtrack", class:"text-white" %>
				<%= f.check_box :criteria, { multiple: true }, "makeup", false %>
				<%= f.label :criteria_makeup, "Makeup and hair", class:"text-white" %>
				<%= f.check_box :criteria, { multiple: true }, "directing", false %>
				<%= f.label :criteria_directing, "Directing", class:"text-white" %>
			</div>
			<%= f.submit "Search", class: "btn btn-primary" %>
			<% end %>
			<ul class="mt-4 mb-4">
				<% @movies.each do |movie| %>
				<li class="text-white search-result"><%=link_to movie.title, movie_path(movie.id), :class => "text-white" %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
