<div class="container text-white my-4">
  <div class="row">
    <div class="col-12">
      <p class="display-4"><%= @movie.title %></p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-center">
      <%=image_tag @movie.image_url, :class => 'movie-poster mt-5' %>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 notation-card text-center user-rate">
      <p class="display-7 text-underline text-primary my-4">Slide your opinion</p>
      <%= form_with model: [@movie, @notation]  do |f| %>
        <%= f.label :scenario, "Scenario :" %>
        <%= f.range_field :scenario, in:0..100 %><br>
        <%= f.label :image, "Image :" %>
        <%= f.range_field :image, in:0..100 %><br>
        <%= f.label :editing, "Editing :" %>
        <%= f.range_field :editing, in:0..100 %><br>
        <%= f.label :sound, "Sound and Soundtrack :" %>
        <%= f.range_field :sound, in:0..100 %><br>
        <%= f.label :makeup, "Costume Makeup and Hairstyling :" %>
        <%= f.range_field :makeup, in:0..100 %><br>
        <%= f.label :directing, "Directing :" %>
        <%= f.range_field :directing, in:0..100 %><br>
        <i><small>(If you don't have an opinion for a category, don't touch the concerned slide.)</small></i><br>
        <%= f.submit class:"btn btn-primary text-center my-2" %>
      <% end %>
    </div>
  </div>
</div>
