<div class="container text-white">
  <div class="row">
    <div class="col-10">

      <div class="row">
        <div class="col-4">
          <img style="width: 300px;" src="<%= @movie.image_url %>">
        </div>
        <div class="col-8">
          <p class="display-4"><%= @movie.title %></p>
          <%= @movie.year %> ― Directed by <%= @movie.director %>
          <hr>
          <p class="text-muted"><%= @movie.description %></p>
          <br>
          <button class="btn btn-primary" type="button" name="button">Leave your review <i class="fas fa-sliders-h"></i></button>
          <%= link_to "Edit", edit_movie_path(@movie), class:"btn btn-warning" if current_user.rank == 0 %>
          
        </div>
      </div><br>

      <div class="row">
        <div class="col-6">
          <p class="h4">NotaCine</p><br>
          <label for="customRange1" class="form-label">Scenario</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
          <label for="customRange1" class="form-label">Image</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
          <label for="customRange1" class="form-label">Editing</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
          <label for="customRange1" class="form-label">Sound</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
          <label for="customRange1" class="form-label">Makeup</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
          <label for="customRange1" class="form-label">Directing</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
        </div>
        <div class="col-6">
          <p class="h4">All watchers</p><br>
          <label for="customRange1" class="form-label">Scenario</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
          <label for="customRange1" class="form-label">Image</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
          <label for="customRange1" class="form-label">Editing</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
          <label for="customRange1" class="form-label">Sound</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
          <label for="customRange1" class="form-label">Makeup</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
          <label for="customRange1" class="form-label">Directing</label>
          <input type="range" class="form-range" id="customRange1" disabled><br>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-10">
          <p class="h4">Comments</p>
          <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra tortor lacus, accumsan ornare augue sodales eu. Aliquam ultrices, ex sed egestas accumsan, arcu justo tincidunt lectus, a feugiat velit nulla id nunc. Integer placerat auctor metus, convallis bibendum nisl fermentum vel. Nam vehicula nibh nibh, accumsan porttitor ante luctus eget. Nam ac ex sem. Morbi mollis ultrices massa a molestie. Donec id porttitor justo, vel auctor lacus.</p>
            <p>Integer placerat auctor metus, convallis bibendum nisl fermentum vel. Nam vehicula nibh nibh, accumsan porttitor ante luctus eget. Nam ac ex sem. Morbi mollis ultrices massa a molestie. Donec id porttitor justo, vel auctor lacus. Aenean a quam a est accumsan tincidunt. Donec dignissim sagittis odio fringilla interdum. Maecenas neque ligula, feugiat vel orci ac, dignissim tristique eros. Vestibulum et vehicula quam, in accumsan risus. Aliquam iaculis vitae lectus at hendrerit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
